<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
            <div class="cs-content">
              <div class="cs-flex">
                  <span class="cs-topper">Call to Action</span>
                  <h2 class="cs-title">Let’s Build Your Website Today</h2>
              </div>
              <p class="cs-text">Your small business deserves a website that performs. With Elevate Websites, you get custom design, built-in SEO, and ongoing support from a local Atlanta team.</p>
              <div class="cs-button-box">
                  <a href="" class="cs-button-solid">Contact Us</a>
              </div>
          </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>
