<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/charity-logo.svg" alt="logo" width="168" height="48">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/index/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about/" class="cs-link">About Us</a>
                </li>
                <li class="cs-li">
                    <a href="/faq/" class="cs-link">FAQ</a>
                </li>
                <li class="cs-li">
                    <a href="/webDesign/" class="cs-link">Web Design</a>
                </li>
                <li class="cs-li">
                    <a href="/seo/" class="cs-link">SEO</a>
                </li>
                <li class="cs-li">
                    <a href="/googlePpcAds/" class="cs-link">Google PPC Ads</a>
                </li>
                <li class="cs-li">
                    <a href="/contact/" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <span class="cs-copyright">
                © Copyright 2025 - Elevate Websites Design’s
            </span>
        </div>
    </div>
    <!--Background-->
</footer>
